<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="projects">
    <div class="w-100">
        <h2 class="mb-5">Projects</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Flower Detection and Recognition App <span><a href="https://github.com/muserxu/Flower_detection"><fa-icon [icon]="['fab', 'github']"></fa-icon></a></span></h3>
                <br>
                
                An application that is able to identify the flower location from a picture and identify the flower species as well.
                <ul class="responsiblity">
                    <li>Used Python and Tensorflow API to train a model to detect flower in the image</li>
                    <li>Used pre-built logistic regression model to train the flower dataset features and label which is used to identify the flower species.</li>
                    <li>Achieved 82% top 1 prediction accuracy and 96% top 5 prediction accuracy</li>
                    <li>The application Report Paper <span><a href="https://github.com/muserxu/Flower-Detection-Reports/blob/master/report_zhili.pdf/"><fa-icon [icon]="['fab', 'github']"></fa-icon></a></span></li>
                    <li>The application demo video <span><a href="https://youtu.be/In0uzkEPx9c"><fa-icon [icon]="['fab', 'youtube']"></fa-icon></a></span></li>
                    <li>Implemented reCAPTCHA to prevent malicious login attempts</li>
                    <li>Experienced with Agile development by regularly updating work progress using Jira and actively involved in weekly sprint planning meetings</li>
                </ul>

            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">November 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Rainwater Management System Design</h3>
                <h4 class="company">RainGrid Cistern Communications
                <span><a href="https://www.raingrid.com/"><fa-icon [icon]="['fas', 'link']"></fa-icon></a></span>
                </h4><br>
                <p>Developed a real-time automatic controller that optimizes the performance of the current model of RainGrid Cistern, and allowed for a high degree of efficiency onto a current system which has minimal encumbrances to the consumer.</p>
                <ul>
                    <li>Developed customer service skills by regularly contacting with the clients, providing key progress milestones and address any adjustments our clients required to satisfy their requirements for the system we were developing for our clients.</li> 
                    <li>Optimized performance and allowed the controller to efficiently communicate with cloud API</li>
                    <li>Generated a detailed conceptual design specification report</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">April 2016</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Twitter Sentiment Analytic Tool <span><a href="https://github.com/muserxu/Twitter-Sentiment-Analysis"><fa-icon [icon]="['fab', 'github']"></fa-icon></a></span></h3><br>
                <p>An application that is able to grab tweets based on the keywords provided and analyze the sentiment of the tweets</p>
                <ul>
                    <li>The application was built on Python, and used 'tweepy' library to search tweets with keywords, and then used Repustate API to analyze tweets sentiment.</li> 
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">December 2019</span>
            </div>
        </div>

        

    </div>

</section>

