
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Full-Stack Web Developer</h3>
            <h4 class="company">NRI Industrial Sales
            <span><a href="https://www.nriparts.com/"><fa-icon [icon]="['fas', 'link']"></fa-icon></a></span>
            </h4><br>
            
            <ul class="responsiblity">
                <li>Built and maintained front to back ended web applications using Laravel and Vue.js</li>
                <li>Created a news article section using Vue.js for the front-end and implemented the database table and connect the routing pattern for the back-end</li>
                <li>Implemented JSON-LD to optimize the searching engine based on Google webpage insight tool.</li>
                <li> Developed breadcrumbs navigation system for the product pages</li>
                <li>Added a new functionality allows the sales team to change the delivery options in each region</li>
                <li>Implemented reCAPTCHA to prevent malicious login attempts</li>
                <li>Experienced with Agile development by regularly updating work progress using Jira and actively involved in weekly sprint planning meetings</li>
            </ul>

        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">January 2019 - April 2019</span>
        </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Web Developer Intern</h3>
            <h4 class="company">Fangxin Technology
            <span><a href="http://www.foresee.com.cn/"><fa-icon [icon]="['fas', 'link']"></fa-icon></a></span>
            </h4><br>
            <ul>
                <li>closely with the UI/UX designing team to develop front-end responsive web pages</li> 
                <li>Demonstrated oral and written communication skills by effectively working with internal and external parties on a regular basis; exhibited excellent teamwork skills by assisting the executives to complete their duties</li>
            </ul>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">May 2017 - July 2017</span>
        </div>
        </div>

        

    </div>

</section>

