.carousel-item { 
    text-align: center; 
}
  
img {
    max-height: 500px;
  }

.carousel-control-prev-icon{
    background-color: black;
}

.carousel-control-next-icon{
    background-color: black;
}