<body id="page-top">
    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
            <div class="w-100">
                <h1 class="mb-0">Zhili
                <span class="text-primary">Xu</span>
                </h1>
                <div class="subheading mb-5">503 Beecroft Rd · Toronto · 647-867-9066 ·
                <a href="#">muserxu@gmail.com</a>
                </div>
                <p class="lead mb-5">
                I graduated from University of Toronto, with a Bachelor's degree in computer science. I have worked in agile development teams to develop web applications. <br><br>
                I am familiar with both front-end and back-end web development tools and frameworks, such as Angular, PHP, HTML, Javascript, and CSS. I am also interested in software development as well. <br><br>
                I have built multiple software application projects using different languages such as Python, Java, and C. My flower detection application was built on Python and Tensorflow API, and it has an 82% recognition accuracy rate. 
                (check out our video)<span>
                    <a href="https://www.youtube.com/watch?v=In0uzkEPx9c"><fa-icon [icon]="['fab', 'youtube']"></fa-icon></a>
                </span> <br><br>
                I am a very motivated individual, and I am always eager to learn from the new environment. I am not afraid of stepping out of my comfort zone. 
                My goal is to be a contributing team member of the development team and grow with the company.   
        
                </p>
                <div class="social-icons">
                <a href="https://www.linkedin.com/in/leon-xu-504a6b112/">
                    <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                </a>
                <a href="https://github.com/muserxu">
                    <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
                </div>
            </div>
        </section>
    </div>
</body>



